* {
  box-sizing: border-box;
}
.container {
  /* position: relative; */
  background-color: #fffaf7;
  max-width: 1600px;
  width: 100%;
  /* margin: 0px auto 115px; */
  top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-template-areas: 'aside team';
  grid-column: 2fr 4fr;
  grid-template-rows: repeat(1fr);
}

.aside {
  grid-area: aside;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-direction: column;
  background-color: #fca311;
  margin-right: 80px;
  height: 80%;
  width: 100%;
  padding: 20px;
  border: 0.5rem outset navajowhite;
  margin-left: 25px;
  border-radius: 25px;
}
.sectionaside {
  padding: 15px;
}
.sectionaside__h2 {
  font-size: x-large;
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}
.sectionaside__p {
  font-size: medium;
  margin: 5px;
  text-align: start;
}

.team {
  margin-top: 10px;
  grid-area: team;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

.team__container {
  grid-area: team;
  background-color: #e5e5e5;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 15px;
  padding-top: 15px;
  margin: 0px 25px 5px 15px;
  border-radius: 20px;
  text-align: center;
}

.imagen-equipo {
  height: 200px;
}
@media screen and (max-width: 890px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .aside {
    margin-left: 0;
    margin-right: 0;
  }
}
