<div class="container">
  <aside class="aside">
    <section class="sectionaside">
      <h2 class="sectionaside__h2">Nuestro equipo</h2>
      <p class="sectionaside__p">
        Somos un equipo de desarrolladores full stack con enfoque en páginas
        de eventos, responsable por la página Eventos Canarios y actualización
        de la misma.
      </p>
      <br /><br />

      <h2 class="sectionaside__h2">¿Qué creamos?</h2>
      <p class="sectionaside__p">
        Página de eventos de la Provincia Las Palmas, inicialmente enfocados
        en la ciudad Las Palmas Gran Canaria y próximamente añadiendo los
        eventos de otras ciudades, hasta alcanzar todas las islas de la
        comunidad autónoma.
      </p>
      <br /><br />

      <h2 class="sectionaside__h2">¿Para quién?</h2>
      <p class="sectionaside__p">
        Dirigido principalmente a clientes locales que hablan Español con el
        objetivo en el futuro de también proporcionarles la página en Inglés.
      </p>
      <br /><br />

      <h2 class="sectionaside__h2">Información</h2>
      <p class="sectionaside__p">Fácil y claro resumen de las actividades más cercanas.</p>
    </section>
  </aside>

  <main class="team">
    <div class="team__container">
      <img class="imagen-equipo" src="../../../assets/imagen/jonay.png" />
      <h3>Jonay Brito</h3>
      <p>Full Stack Developer</p>
    </div>

    <div class="team__container">
      <img class="imagen-equipo" src="../../../assets/imagen/juancarlos.png" />
      <h3>Juan Vargas</h3>
      <p>Full Stack Developer</p>
    </div>
    <div class="team__container">
      <img class="imagen-equipo" src="../../../assets/imagen/imna.png" />
      <h3>Inma Da Costa</h3>
      <p>Full Stack Developer</p>
    </div>
    <div class="team__container">
      <img class="imagen-equipo" src="../../../assets/imagen/joseluis.png" />
      <h3>José Gonzalez</h3>
      <p>Full Stack Developer</p>
    </div>
    <div class="team__container">
      <img class="imagen-equipo" src="../../../assets/imagen/laniamendonca.png" />
      <h3>Lânia Mendonca</h3>
      <p>Full Stack Developer</p>
    </div>
  </main>
</div>
