<footer class="footer">
  <div class="footer__copyright">
    <span>Copyright </span>
    <img
      src="../../../assets/img/derechos-de-autor.png"
      alt="copyright"
      class="copyright__img"
    />
    <span>Intrepid Ibex 2022 </span>
  </div>
  <div class="footer__nav">
    <a href="../../pages/page-home/page-home.component.html" class="footer__nav--text-decored">INICIO </a>
    <span> | </span>
    <a
      href="mailto:elcorreoquequieres@correo.com"
      class="footer__nav--text-decored"
    >
      CONTACTO</a
    >
    <span> | </span>
    <a
      href="../../pages/page-team/page-team.component.html"
      class="footer__nav--text-decored"
    >
      QUIENES SOMOS</a
    >
  </div>
  <div class="footer__social-media">
    <a
      href="https://www.facebook.com/profile.php?id=100084433724450"
      target="_blank"
      ><img
        src="../../../assets/img/facebook (1).png"
        alt="facebookk"
        class="social-media__icon"
    /></a>
    <a href="https://www.instagram.com/ibexintrepid3" target="_blank">
      <img
        src="../../../assets/img/instagram.png"
        alt="instagram"
        class="social-media__icon"
    /></a>
    <a href="https://twitter.com/ibexintrepid3" target="_blank"
      ><img
        src="../../../assets/img/gorjeo.png"
        alt="twitter"
        class="social-media__icon"
    /></a>
  </div>
</footer>
