* {
  margin: 0px;
  box-sizing: border-box;
}
.footer {
  box-sizing: border-box;
  grid-area: footer;
  position: relative;
  display: flex;
  /* margin-top: 50px; */
  width: 100vw;
  height: 80px;
  justify-content: space-between;
  background-color: #0c0434;
  align-items: center;
  padding: 0px 20px;
}

.footer__copyright {
  display: flex;
  color: #ffffff;
  font-size: 16px;
}

.copyright__img {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}

.footer__nav {
  display: flex;
  color: #ffffff;
}

.footer__nav--text-decored {
  margin: 0px 8px;
  text-decoration: none;
  color: #ffffff;
}

.footer__social-media {
  display: flex;
}

.social-media__icon {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .footer__copyright {
    display: flex;
    color: #ffffff;
    font-size: 16px;
  }

  .copyright__img {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
  }

  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
  }

  .social-media__icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
  }
}
