<div class="bg-filters"></div>
<div class="filters">
  <div class="filter__location">
    <label for="location">Localidad</label>
    <select name="location" (change)="change1($event)">
      <option>Todos</option>
      <option>Las Palmas de Gran Canaria</option>
      <option>Galdar</option>
      <option>Telde</option>
      <option>Teror</option>
      <option>Aguimes</option>
      <option>Arucas</option>
      <option>Mogán</option>
      <option>San Bartolomé de Tirajana</option>
      <option>Valleseco</option>
      <option>Vecindario</option>
    </select>
  </div>
  <div class="filter__tipo-event">
    <label for="tipoEvento">Tipo de evento</label>
    <select name="tipoEvento" (change)="change2($event)">
      <option>Todos</option>
      <option>Deportes</option>
      <option>Música</option>
      <option>Humor</option>
      <option>Infantil</option>
      <option>Talleres</option>
      <option>Teatro</option>
      <option>Visita/Exposición</option>
      <option>Cultura</option>
      <option>Conferencia</option>
      <option>Concierto</option>
      <option>Espectáculo Artístico</option>
      <option>Arties plásticas y visuales</option>
    </select>
  </div>
</div>

<!-- ********************** Targeta evento 1 ********************** -->
<div class="event-container__targets">
  <div
    *ngFor="let event of eventsToRender"
    class="target-event-front-page"
    (click)="event_detail(event._id)"
  >
    <img src="{{ event.image }}" alt="evneto" />
    <div class="title-y-date">
      <h1 class="title-event">{{ event.title | titlecase }}</h1>
      <!-- maximo length: 72 caracteres -->
      <h3 class="h3__target-event-front-page">
        {{ event.date.start_date }} - {{ event.date.when }}
      </h3>
      <!-- maximo length: 50 caracteres -->
    </div>
  </div>
</div>
