<header class="header" [style]="position">
  <a routerLink="">
    <img class="header__logo" src="../../../assets/img/logo.png" alt="logo" />
  </a>

  <div *ngIf="isloged === 'false'" class="auth__container">
    <button style="color: white" type="button" mat-raised-button class="auth__button auth__button--text" routerLink="register">Register</button>
    <button style="color: white" type="button" mat-raised-button class="auth__button auth__button--text" routerLink="login">Login</button>
  </div>
  <div  *ngIf="isloged === 'true'" style="padding-right: 10px;">
    <h5 style="color: white;">Bienvenido</h5>
    <button style="color: gray; background-color: white; padding: 5px; border-radius: 2px;" (click)="exit()">salir</button>
  </div>
</header>
