* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  grid-area: header;
  display: flex;
  background-color: #0c0434;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 99;
}

.header__logo {
  margin: 10px 30px;
  object-fit: cover;
  object-position: top left;
  width: 135px;
  height: 60px;
  cursor: pointer;

}

.header__text {
  color: white;
  margin: 10px 30px;
  font-size: 20px;
}

.auth__container{

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

.auth__button{
  background-color: white;
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.auth__button--text{
  padding: 0px 5px;
}

.user__container{
  box-shadow: none;
  background-color: none;
}
.user__img{
  margin-right: 10px;
  height: 35px;
}

.user__name{
  margin-right: 15px;
  font-weight: 600;
  color: white;
}

.user__log-out{
  text-align: center;
}


