
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-wrap: wrap;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
}

.login__container{
    display: flex;
    background-color: rgb(53, 36, 91);
    width: 400px;
    height: 250px;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 20px;
    border-radius: 10px;
}

h1{
    color: rgb(210, 154, 14);;
}

small{
    color: rgb(221, 214, 214);
    padding-left: 10px;
}

input{
    border-radius: 15px;
    height: 25px;
}

input::placeholder{
    color: rgb(181, 180, 180);
    padding-left: 10px;
}

input:focus::placeholder{
    color: white;
}

.login__container--input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
}

.login__container--btn{
    margin: 20px;
    width: 50%;
    border-radius: 15px;
    background-color: rgb(210, 154, 14);
    color: rgb(221, 214, 214);
}
