<div class="container">
    <div class="item">
      <app-header></app-header>
    </div>
  

    <div class="item login">
        <div class="login__container">
            <h1>LOGIN!</h1>
            <div class="login__container--input">
                <small>Email</small>
                <input type="text">
            </div>
            <div class="login__container--input">
                <small>Password</small>
                <input type="password">
            </div>
            <button class="login__container--btn">Entrar</button>
        </div>
    </div>
    <app-footer class="item"></app-footer>
  
  
  </div>
