.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 20px auto;
  box-sizing: border-box;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
  max-width: 976px;
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 12px;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.row-1__img {
  border-radius: 12px;
  margin: 20px;
  width: 50%;
  height: 100%;
}

.row-1__inf {
  display: inline-block;
}

.row-1__inf--title {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin: 30px;
  border-bottom: 1px solid darkgray;
}

.row-1__details {
  margin-bottom: 10px;
  margin-right: 30px;
  display: flex;
  align-items: stretch;
}

.row-1__colum--details{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row-1__icon {
  display: flex;
  align-items: center;
}

.row-1__icon img:last-child {
  display: none;
}
.row-1__icon:hover  img:first-child {
  display: none;
}
.row-1__icon:hover  img:last-child {
  display:flex;
}

.row-1__icon--details {
  margin: 0px 20px;
  width: 30px;
  height: 30px;
}

.row-1__details--txt {
  margin: 0px;
  color: darkgray;
  font-weight: 900;
}

.row-1__ticket {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-1__ticket--img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.row-1__ticket--img:hover {
  animation: ticket 1s ease-in-out;
}

@keyframes ticket {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.row-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.row-2descript--bg{
  background-color: #e5e5e5;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 20px;
}
.row-2__descript--txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: justify;
}

.row-2__map {
  margin: 0px 20px;
}


.row-2__map--img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

google-map div .map-container  {
  display: flex;
  width: 100px;
  justify-content: center;
}

.error__msg{
  font-size: 30px;
  color: red;
}

.error__img{
  border-radius: 30px;
  width: 400px;
}

@media screen and (max-width: 950px) {
  .container {
    max-width: 460px;
    justify-content: center;
  }
  .row-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .row-1__img {
    margin: 20px;
    width: 90%;
    height: 80%;
  }

  .row-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .row-2__descript {
    font-size: 25px;
    line-height: 30px;
    margin: 20px 20px;
    text-align: justify;
  }

  .row-2__map {
    margin: 0px 20px;
  }

  .row-2__map--img {
    display: flex;
    border-radius: 8px;
    /* width: 100%;
    height: 250px; */
  }
}
