<div *ngIf="event; else msgError" class="container">
  <!--Fila Uno-->
  <div class="row-1">
    <img [src]="event.image" alt="evento" class="row-1__img" />
    <div class="row-1__inf">
      <div class="div__star-favorite-on">
        <img
          (click)="addFavorite()"
          class="img__star-favorite-on"
          [class.ocultar]="fav === true || !user"
          src="../../../assets/icons/Star2.png"
          alt="Star favorite"
        />
        <p class="text__my-favorites-on">Añadir a Favoritos</p>
      </div>
      <div class="div__star-favorite-off">
        <img
          (click)="delFavorite()"
          class="img__star-favorite-off"
          [class.ocultar]="fav !== true || !user"
          src="../../../assets/icons/Star2.png"
          alt="Star favorite"
        />
        <p class="text__my-favorites-off">Quitar de Favoritos</p>
      </div>
      <p class="row-1__inf--title">{{ event.title | titlecase }}</p>

      <div class="row-1__details">
        <div class="row-1__colum--details">
          <div class="row-1__details">
            <img
              src="../../../assets/icons/calendario.png"
              alt="calendario"
              class="row-1__icon--details"
            />
            <span class="row-1__details--txt">{{ event.date.start_date }}</span>
          </div>
          <div class="row-1__details">
            <a class="row-1__icon" [href]="event.map_link" target="_blank">
              <img
                src="../../../assets/icons/ubicacion.png"
                alt="ubicacion"
                class="row-1__icon--details"
              />
              <img
                src="../../../assets/icons/ubicacion-color.png"
                alt="ubicacion"
                class="row-1__icon--details"
              />
            </a>
            <p class="row-1__details--txt">{{ event.address }}</p>
          </div>
          <div class="row-1__details">
            <img
              src="../../../assets/icons/star.png"
              alt="rating"
              class="row-1__icon--details"
            />
            <p class="row-1__details--txt">{{ event.venue?.rating }}/5</p>
          </div>
        </div>

        <div class="row-1__colum--details">
          <div class="row-1__details">
            <img
              src="../../../assets/icons/reloj-de-pared.png"
              alt="cuando"
              class="row-1__icon--details"
            />
            <span class="row-1__details--txt">{{ event.date.when }}</span>
          </div>
          <div class="row-1__details">
            <img
              src="../../../assets/icons/focos.png"
              alt="tipo de evento"
              class="row-1__icon--details"
            />
            <p class="row-1__details--txt">{{ event.tipo_event }}</p>
          </div>
          <div class="row-1__details">
            <img
              src="../../../assets/icons/rating_1.png"
              alt="reviews"
              class="row-1__icon--details"
            />
            <p class="row-1__details--txt">{{ event.venue?.reviews }}</p>
          </div>
        </div>
      </div>

      <div class="row-1__ticket">
        <a [href]="event.ticket_info" target="_blank">
          <img
            src="../../../assets/icons/boleto.png"
            alt="fecha"
            class="row-1__ticket--img"
          />
        </a>
      </div>
    </div>
  </div>

  <!--Fila Dos-->
  <div class="row-2">
    <div class="row-2descript--bg">
      <div class="row-2__descript--txt">
        {{ event.description }}
      </div>
    </div>

    <google-map
      [width]="sizeWidth"
      height="300"
      [center]="position"
      [zoom]="zoom"
    >
      <map-marker [position]="position" [label]="label"></map-marker>
    </google-map>
  </div>
</div>

<!--Mensaje de Error-->
<ng-template #msgError>
  <div class="container">
    <p class="error__msg">ERROR 404, EVENTO NO ENCONTRADO</p>
    <img
      src="../../../assets/img/no_puede_ser.jpg"
      alt="no puede ser..."
      class="error__img"
    />
  </div>
</ng-template>
