.container {
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header"
    "event event"
    "footer footer";
}

/** Header **/
.header{
    margin: 0;
    grid-area: header;
    display: flex;
    background-color: #14213D;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
}

.header__text{
    color: white;
}

.lp{
    margin-top: -20px;
}

.header__img{
    padding: 20px;
    height: 50px;
    width: 70px;
}

.event-container{
    display: grid;
    justify-content: center;
    margin-left: 400px;
    height: 600px;
}


.event-details{
    grid-area: event;
    display: grid;
    text-align: center;
    margin: 20px;
    width:min-content;
}

.event-details button{
    width: 80%;
    height: 50px;
    border-radius: 45px;
    background-color: rgb(184, 184, 1);
}

.footer {
    grid-area: footer;
    display: flex;
    margin-top: 20px;
    height: 111px;
    justify-content: space-between;
    background-color: #14213D;
    align-items: center;
    padding: 0px 20px;
}

.footer__copyright {
    display: flex;
    color: #ffffff;
    font-size: 16px;
}

.copyright__img {
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}

.footer__nav {
    display: flex;
    color: #ffffff;
}

.footer__nav--text-decored {
    margin: 0px 2px;
    text-decoration: none;
    color: #ffffff;
}

.footer__social-media {
    display: flex;
}

.social-media__icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}