.main {
    display: grid;
    grid-template-areas: 
    "header header"
    "event event"
    "footer footer";
    grid-column: 1fr 4fr;
    grid-template-rows: repeat(1fr);

}

/** Header **/
.header{
    grid-area: header;
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
}

.header__text{
    color: white;
}

.lp{
    margin-top: -20px;
}

.header__img{
    padding: 20px;
    height: 50px;
    width: 70px;
}

/** Event **/
.event {
    grid-area: event;
}

.event__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    padding-top: 0;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}

.event__button{
    width: 200px;
    height: 50px;
    border-radius: 45px;
    border-color: rgb(23, 205, 23);
    background-color: rgb(42, 154, 42);
    color: white;
}

/** Footer **/
.footer {
    grid-area: footer;
    display: flex;
    margin: 20px;
    height: 111px;
    justify-content: space-between;
    background-color: #14213D;
    align-items: center;
    padding: 0px 20px;
}

.footer__copyright {
    display: flex;
    color: #ffffff;
    font-size: 16px;
}

.copyright__img {
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}

.footer__nav {
    display: flex;
    color: #ffffff;
}

.footer__nav--textDecored {
    margin: 0px 2px;
    text-decoration: none;
    color: #ffffff;
}

.footer__social-media {
    display: flex;
}

.social-media__icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}