.header{
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
}

.header__text{
    color: white;
}

.lp{
    margin-top: -20px;
}

.header__img{
    padding: 20px;
    height: 50px;
    width: 70px;
}

.event__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    padding-top: 0;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}

.event__button{
    width: 200px;
    height: 50px;
    border-radius: 45px;
    border-color: rgb(23, 205, 23);
    background-color: rgb(42, 154, 42);
    color: white;
}