:root {
  --text-color: black;
  --color-yellow: #fca311;
  --color-blue: #14213d;
  --fondo-white: #ffffff;
  --min-with: 375px;
  --min-with-element: 320px;
}
/* body {
  color: var(--text-color, white);
  /* white es un valor por defecto por si no encontrara la variable
} */
