@import 'css/variables.css';

* {
  margin: 0px;
  box-sizing: border-box;
}
.container {
  min-width: var(--min-with, 325px);
  width: 100%;
  display: grid;
  grid-template-areas:
    'header header'
    'event event'
    ''
    'footer footer';
  grid-column: 1fr 1fr;
  grid-template-rows: repeat(1fr);
}
/* ***************** formato mobile responsive ********************* */
/* ****************************************************************** */
