@import 'css/variables.css';

html, body {
  display: block;

}
.container {
  display: grid;
  grid-template-areas:
    'header header'
    'event event'
    'event event'
    'footer footer';
  grid-column: 1fr 1fr;
  grid-template-rows: repeat(1fr);
}
/* ***************** formato mobile responsive ********************* */
/* ****************************************************************** */
body {
  margin: 0px;
  min-width: var(--min-with, 325px);
}

.lp {
  margin-top: -20px;
}

/* ************************************* main **************************** */

/** Event **/

.event {
  position: relative;
  top: 6rem;
  grid-area: event;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-teror__div {
  display: inline-block;
  background-color: var(--color-blue, blue);
  width: 100%;
  margin-top: 0;
  color: var(--color-yellow, yellow);
  text-align: center;
}
.link-teror {
  cursor: pointer;
  text-decoration: none;
  font-size: 40px;
  color: white;
}
.target-event-front-page {
  display: grid;
  width: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 200px 50px 70px 30px;
  flex-direction: row;
  flex-wrap: wrap;
  height: 350px;
  border: 1px solid black;
  padding: 20px;
  padding-top: 0;
  margin: 20px;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  color: #242e30cc;
}

.title-event {
  color: white;
  text-align: center;
  font-size: xx-large;
}

.event-front-page1,
.event-front-page2,
.event-front-page3,
.event-front-page4,
.event-front-page5,
.event-front-page6 {
  margin-top: 1rem;
  grid-column: 1/3;
  flex-wrap: wrap;
  background-position: center;
  height: 100%;
  width: 100%;
}
.event-front-page1 {
  background-image: url('../src/assets/imagen/eventoPortada/eventoPortada1.png');
}
.event-front-page2 {
  background-image: url('../src/assets/imagen/eventoPortada/eventoPortada2.png');
}
.event-front-page3 {
  background-image: url('../src/assets/imagen/eventoPortada/eventoPortada3.png');
}
.event-front-page4 {
  background-image: url('../src/assets/imagen/eventoPortada/eventoPortada4.png');
}
.event-front-page5 {
  background-image: url('../src/assets/imagen/eventoPortada/eventoPortada5.png');
}
.event-front-page6 {
  background-image: url('../src/assets/imagen/eventoPortada/eventoPortada6.png');
}
.div-h3__target-event-front-page {
  margin-top: 1rem;
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
}
.div-h3__target-event-front-page > img {
  width: 40px;
  height: 40px;
  padding-top: 0.5rem;
  margin-right: 0.5rem;
}
.p-descripcion-events {
  grid-column: 1/2;
  grid-row: 3/4;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.event__button {
  grid-row: 3/4;
  grid-column: 2/3;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border-radius: 45px;
  border-color: rgb(23, 205, 23);
  background-color: rgb(42, 154, 42);
  color: white;
}

.p-way-events {
  grid-column: 1/3;
  position: relative;
}
