@import 'css/variables.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}
.container {
  width: 100%;
  /* margin: 0 auto; */
  display: grid;
  grid-template-areas:
    'header header'
    'ftpc ftpc'
    'event event'
    'footer footer';
  grid-column: 1fr 1fr;
  grid-template-rows: repeat(1fr);
}
/* ***************** formato mobile responsive ********************* */
/* ****************************************************************** */
body {
  min-width: var(--min-with, 325px);
}
