.photo__principal {
  display: flex;
  width: 100%;
}

.photo__principal--img {
  height: 650px;
  width: 100%;
  background-image: url(../../../assets/imagen/eventoPortada/eventoPortada11-b.jpg);
  background-size: cover;
  background-position: center;
}

.photo__text {
  /* border: 1px solid white; */
  text-align: center;
  width: 30%;
  height: 30%;
  border-radius: 5px;
  position: relative;
  left: 65%;
  top: 30%;
  color: var(--color-yellow);
}

.photo__text--main {
  font-size: 35px;
  line-height: 30px;
  font-weight: 600;
}

.photo__text--second {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 100;
}
.photo__text2 {
  display: none;
}
@media screen and (max-width: 950px) {
  .photo__text {
    display: none;
  }
  .photo__text2 {
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px 80px 15px 30px;
    position: relative;
    background-color: rgb(26, 25, 25);
    color: var(--color-yellow);
  }
  .photo__principal {
    flex-direction: column;
  }
  .photo__principal--img {
    height: 680px;
    width: 100vw;
    background-image: url(../../../assets/imagen/eventoPortada/eventoPortada11.jpg);
    background-size: cover;
    background-position: center;
  }
}
