<div class="fhoto__principal">
  <div class="photo__principal--img">
    <div class="photo__text">
      <p class="photo__text--main">Los Mejores Eventos de Canarias</p>
      <p class="photo__text--second">
        Encuentra todo lo que estas buscando<br />
        en un solo lugar
      </p>
    </div>
  </div>
  <div class="photo__text2">
    <p class="photo__text--main">Los Mejores Eventos de Canarias</p>
    <p class="photo__text--second">
      Encuentra todo lo que estas buscando en un solo lugar
    </p>
  </div>
</div>
