<main class="event">
  <!-- ********************** Main Pici ***************************** -->

  <!-- ********************** Targeta Principal ********************* -->
  <div class="fhoto-principal">
    <img
      class="fhoto-principal__img"
      src="../../../assets/imagen/eventoPortada/event-principal.png"
      alt=""
    />
  </div>
  <h1 class="title-fhoto-principal">Un Mundo de Eventos para elegir</h1>
  <!-- <div class="link-teror__div">
    <h2>Con la caminata tradicional, y un programa de fiestas increible.</h2>
    <a
      class="link-teror"
      href="https://teror.es/el-fiesta-del-pino-2022-vuelve-con-un-programa-cargado-de-actos-y-una-veintena-de-conciertos/"
      target="_blank"
      >Infórmate</a
    >
  </div> -->

  <!-- ************************************* ******************************************* -->
</main>
